.luckiestguy-regular {
    font-family: "LuckiestGuy", serif;
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf');
}

.opensans-light {
    font-family: "Open Sans Light", serif;
    font-weight: 300;
    font-style: normal;
    src: url('../assets/fonts/Open_Sans/static/OpenSans-Light.ttf');
}

.opensans-regular {
    font-family: "Open Sans Regular", serif;
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/Open_Sans/static/OpenSans-Regular.ttf');
}

.opensans-medium {
    font-family: "Open Sans Medium ", serif;
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/Open_Sans/static/OpenSans-Medium.ttf');
}

.opensans-bold {
    font-family: "Open Sans Bold", serif;
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/Open_Sans/static/OpenSans-Bold.ttf');
}
