@import url(./fonts.css);

:root {
    --background-main: #ffffff;    
    --background-section: #f6f6f6;   
    --background-dark: #23272a;     
    --text-dark: #23272a;   
    
    --font-family-h1: "Luckiest Guy", sans-serif;
    --font-family-h2: "Open Sans", sans-serif;
    --font-family-p: "Open Sans", sans-serif;
}
